header {
    width: 100%;
    padding: 60px 4px;
    background-color: black;

}

.listButton {
   justify-items: right

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.container {
    padding-top: 8px;
    height: 60px;
    width: 100%;
    background-color: #e6e6e6
}

.newRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0px 20px;
    margin-bottom: 16px;

}

nav a {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: #121212;
}

.buttonRow {
    display: flex;
    flex-direction: row;

}

.nav-search {
    display: flex;
    align-items: center;
    width: 367px;
    height: 48px;
    margin-left: 8px;
    border-radius: 5px;
    background: white;
    border: 1px solid #121212;

}

.nav-search input {
    width: 347px;
    height: 34px;
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;

    
}

button .quadro {
    margin-left: 4px;
    padding-left: 3px;
}

.quadro {
    width: 42px;
    height: 42px;
    margin-right: 3px;
    align-items: center;
    background: #018749;
    border-radius: 5px;
    border: 1px solid #121212;
    cursor: pointer;

}

.quadro img {
    width: 17px;
    height: 17px;

}

.bucart {
    border-radius: 50px;
    padding: 14px 21px 16px 21px;
    margin-left: 14px;
    margin-bottom: 21px;
    align-items: center;
    background: #018749;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}



header img {
    filter: invert(100%);
    height: 80px;
    padding-right: 348px;
}

header ul li {
    display: inline-block;
    margin: 0px 20px;
    
}

header button {
    padding: 16px 16px;
    margin-top: 5px;
    border-radius: 50px;
    color: #018749;
    background: aliceblue;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

