main {
    background-image: url(Disco-de-Vinil-e-agulha.webp);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.socialMedia {
    display: block;
    flex-direction: column;
    position: fixed;

}

.socialMedia ul {
    margin-top: 48px;
    margin-left: 1293px;
    justify-content: end;
    justify-items: right;
}

.socialMedia ul li {
    padding: 2px;
    

    
}

.qd1 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: blue;
    cursor: pointer;
    
}

.qd1 i{
    font-size: 24px;
    color: white;
}

.qd1 i {
    margin-top: 8px;
    margin-left: 15px;
    
}


.qd2 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: red;
    justify-content: flex-end;

}

.qd2 a{
    font-size: 24px;
    color: white;
}

.qd2 a i {
    margin-top: 8px;
    margin-left: 12px;
}


.qd3 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: green;
    justify-content: flex-end;
}

.qd3 a{
    font-size: 24px;
    color: white;
}

.qd3 a i {
    margin-top: 8px;
    margin-left: 12px;
}

.menu-hidden1 {
    width: 182px;
    height: 44px;
    background-color: blue;
    position: absolute; /*necessária para o funcionamento*/
    box-shadow: 1px 2px 3px blue;
    right: -100%;  /*é com essa propriedade que o menu fica escondido a esquerda*/
    transition: left .5s;
    font-size: 24px;
    color: white;
    margin-bottom: 2px;
    font-weight: bolder;

}

a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;

}

a i {
    display: flex;
    margin-bottom: 8px;
}
