main {
    background-image: url(Disco1.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.loja {
    display: flex;
    flex-direction: row;
    padding-top: 78px;

}

.contato {
    padding: 26px 26px;
    border-radius: 50px;
    border: 3px solid white;
    align-items: center;
    background: #018749;
    color: white;
    cursor: pointer;

}

.contato i {
    font-size: 38px;

}

.socialMedia {
    display: block;
    flex-direction: column;
    position: fixed;

}

.socialMedia ul {
    margin-top: 28px;
    margin-left: 1293px;
    justify-content: end;
    justify-items: right;
}

.socialMedia ul li {
    padding: 2px;
    

    
}

.qd1 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: blue;
    cursor: pointer;
    
}

.qd1 i{
    font-size: 24px;
    color: white;
}

.qd1 i {
    margin-top: 8px;
    margin-left: 15px;
    
}


.qd2 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: red;
    justify-content: flex-end;
    cursor: pointer;

}

.qd2 i {
    font-size: 24px;
    color: white;
}

.qd2 i {
    margin-top: 8px;
    margin-left: 8px;
}


.qd3 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: green;
    justify-content: flex-end;
    cursor: pointer;
}

.qd3 i{
    font-size: 24px;
    color: white;
}

.qd3 i {
    margin-top: 8px;
    margin-left: 12px;
}

.menu-hidden1 {
    width: 182px;
    height: 44px;
    background-color: blue;
    position: absolute; /*necessária para o funcionamento*/
    box-shadow: 1px 2px 3px blue;
    right: -100%;  /*é com essa propriedade que o menu fica escondido a esquerda*/
    transition: left .5s;
    font-size: 24px;
    color: white;
    margin-bottom: 2px;
    font-weight: bolder;

}

a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;

}

a i {
    display: flex;
    margin-bottom: 8px;
}

.menu-hidden2 {
    width: 182px;
    height: 44px;
    background-color: red;
    position: absolute; /*necessária para o funcionamento*/
    box-shadow: 1px 2px 3px red;
    right: -100%;  /*é com essa propriedade que o menu fica escondido a esquerda*/
    transition: left .5s;
    font-size: 24px;
    color: white;
    margin-bottom: 2px;
    font-weight: bolder;
    cursor: pointer;

} 

.menu-hidden3 {
    width: 182px;
    height: 44px;
    background-color: green;
    position: absolute; /*necessária para o funcionamento*/
    box-shadow: 1px 2px 3px green;
    right: -100%;  /*é com essa propriedade que o menu fica escondido a esquerda*/
    transition: left .5s;
    font-size: 24px;
    color: white;
    margin-bottom: 2px;
    font-weight: bolder;
    cursor: pointer;

}

.mundo {
    padding-left: 299px;
    display: flex;
    flex-direction: column;

}

.mundo span {
    font-size: 80px;
    font-weight: 600;
}

.mundo h2 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 125px;
    font-weight: 700;
    color: #818589;
}