.grupo {
    border-top: 1.4px solid #121212;
    background-color: #018749;
    width: 100%;
    padding: 60px 4px;

}

.grupo section ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

li span {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 600;
    color: white;

}

.grupo li i {
    color: white;
    font-size: 184px;

}

.inscrito {
    width: 100%;
    background: #A9A9A9 ;
    border-top: 1.4px solid #121212;
    padding: 60px 4px;

}

.inscreva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.lancamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.lancamento span {
    font-size: 32px;

}

.lancamento p {
    font-size:  22px;
    color: white;
    padding-top: 12px;
    padding-left: 140px;

}

.letter {
    display: flex;
    align-items: center;
    padding: -5px -8px;
    gap: -8px;
    
}

.letter input {
    display: flex;
    align-items: center;
    width: 247px;
    height: 34px;
    border-radius: 5px;
    margin-right: 8px;
    border: 1px solid #121212;
    background: white;

}

.letter button {
    width: 147px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #121212;
    background: white;
    font-size: 18px;
    font-weight: 500;

}

.correio {
    width: 347px;
    height: 34px;
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;

    
}

